extends default

block content
  .container
    .row.justify-content-center.mt-5
      .col-md-6
        .card.border-primary.shadow-lg
          .card-header.text-center.text-white.bg-primary
            h1 Result
          .card-body
          p=result
  